// ================================================================================
// Brand Style
// ================================================================================

.brand {
	display: block;
	float: left;

	&__logo {
		display: inline-block;
		vertical-align: middle;
		max-width: 40px;
		margin-right: 5px;

		@media (min-width: $screen-sm-min) {
			max-width: 60px;
			margin-right: 0;
		}

	}
	&__name {
		display: inline-block;
		font-size: 30px;
		text-transform: uppercase;
		vertical-align: middle;
		padding: 0;
		letter-spacing: 3px;
		
		@media (min-width: $screen-sm-min) {
			font-size: 50px;
			margin: 0 0 0 10px;
		}


		&>span {
			display: block;
			font-size: 6px;
			letter-spacing: 1px;
			margin-top: 1px;

			@media (min-width: $screen-sm-min) {
				font-size: 10px;
				letter-spacing: 1.6px;
				margin-top: -2px;
			}
		}
	}
}