// ================================================================================
// Contact Style
// ================================================================================

.contact {
	//color: $text-color--header;


	&__info {
		@include clearfix();
		margin-bottom: 40px;

		@media (min-width: $screen-sm-min) {
			text-align: center;
		}
		
		&__item {
			@include make-sm-column(5);
		
			padding: 0;
			margin-bottom: 10px;
			
			&:first-child {
				@include make-sm-column-offset(1);
			}


			& > i {
				background-color: $color--primary;
				color: $white;
				padding: 20px;
				font-size: 18px;
				margin: 0;
			}

			& > span {
				color: $text-color--heading;
				font-weight: 700;
				padding: 14px;
				font-size: 20px;

			}
		} // end &__item
	}

	&__form {
		margin-bottom: 60px;

		&  label {
			color: $color--primary;
			font-size: 14px;
		}

		& .btn-send {
			padding-left: 40px !important; 
			padding-right: 40px !important; 
			background-color: $color--primary;
			color: $white;
			display: block !important;
			width: 100%;

			@media (min-width: $screen-sm-min){
				display: inline-block;
				width: auto;
			}

			&:hover {
				background-color: darken($color--primary, 10%);
			}
		}
	}

	&__heading {
		text-transform: uppercase;
		font-weight: 700;
		margin-bottom: 20px;
		color: $text-color--heading;
	}
}