// ================================================================================
// Footer Style
// ================================================================================

.footer-wrap {
	padding: 0;
	marigin: 0;
}

.footer {
	background: $outer-space;
	color: $mercury;
	padding: 40px 0 20px;

	@media (min-width: $screen-sm-min) {
		padding: 60px 0;
	}
	
	&__brand {
		
		font-size: 32px;
		&--small {
			font-size: 8px;
			display: block;
			text-transform: uppercase;
			margin-bottom: 20px;
		}
	}

	&__header {
		margin-top: 40px;
		font-size: 24px;
		font-family: 'Oswald', sans-serif;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: 25px;

		@media (min-width: $screen-sm-min) {
			margin-top: 10px;
		}
	}

	&__list {
		a {
			color: $color--primary;
			display: block;
		}
	}
}

.list {	
	margin: 0;
	padding-left: 35px;
	
	&__item {
		display: block;
		margin: 0 0 15px 0;
		font-size: 14px;

		&:before {
			font-family: 'Glyphicons Halflings';
			color: $text-color--secondary;
			float: left;
			font-size: 18px;
			margin-top: -2px;
			margin-left: -35px;	
		}

		&--bullhorn {
			@extend .list__item;
			
			&:before {
				content: "\e122";	
			}
		}

		&--address {
			@extend .list__item;

			&:before {
				content: "\e021";	
			}
		}

		&--phone {
			@extend .list__item;

			&:before {
				content: "\e182";	
			}
		}

		&--email {
			@extend .list__item;

			&:before {
				content: "\2709";	
			}
		}

	}// end &__item

}

.copyright {
	background: $outer-space--darker;
	color: $white;
	text-align: center;
	font-size: 10px;
	padding: 20px 0;

	@media (min-width: $screen-sm-min) {
		font-size: 12px;
	}
}