// ================================================================================
// Working Time Style
// ================================================================================

.working-time {
	
	@media (min-width: $screen-sm-min) {
		position: absolute;
		bottom: 0;	
	}

	&__item {
		background: $color--primary;
		color: $white;
		float: left;
		padding: 30px 20px;
		text-transform: uppercase;
		text-align: center;
		font-size: 20px;
		font-weight: bold;
		width: 130px;

		& > span {
			display: block;
			font-size: 16px;
			font-weight: 400;
		}

		&:nth-child(2) {
			background: darken($color--primary, 2%);
		}

		&:nth-child(3) {
			background: darken($color--primary, 4%);
		}
	}	
}