// ================================================================================
// Working Time Style
// ================================================================================

.working-time {
	//margin-top: 60px;
	position: absolute;
	bottom: 0;
	
	&__item {
		background: $color--primary;
		color: $white;
		float: left;
		text-transform: uppercase;
		text-align: center;
		font-weight: bold;
		font-size: 18px;
		padding: 20px 10px;

		@media (min-width: $screen-sm-min) {
			padding: 30px 20px;
			font-size: 20px;
			width: 150px;
		}

		& > span {
			display: block;
			font-size: 16px;
			font-weight: 400;
		}

		&:nth-child(2) {
			background: darken($color--primary, 2%);
		}

		&:nth-child(3) {
			background: darken($color--primary, 4%);
		}
	}	
}