// ================================================================================
// Usluge Style
// ================================================================================


.sluge {
	padding-top: 20px;

	& i {
		display: block;
		margin: 0 auto 20px;
		text-align: center;
		color: $color--primary;
	}
} 
