// ================================================================================
// Base Styles
// ================================================================================

* {
	box-sizing: border-box;
}

body {
	font-family: $font-family--primary;
	font-size: 16px;
	font-weight: 400;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

p {
	color: $text-color--primary !important;
	&.secondary {
		color: $text-color--secondary !important;
	}
}

h1, h2, h3, h4, h5 {
	font-family: $font-family--heading;
}

h1 {
	color: $text-color--heading;
}

a {
	color: $text-color--link;
	
	&:hover {
		color: $text-color--link--active;
		text-decoration: none;
	}
}

section {
	padding: 40px 0;

	@media (min-width: $screen-sm-min) {
		padding: 60px 0;
	}
}


// Helpers
.border--primary {
	border: 2px solid $color--primary;
	margin-bottom: 0;
	width: 20%;

	@media (min-width: $screen-sm-min) {
		width: 8%;
	}
}


// Bootstrap overrides
.nav .open > a,
.nav .open > a:focus {
	background-color: transparent;
}

.navbar-toggle {
	margin-top: 15px;

	& .icon-bar {
		width: 25px;
		height: 3px;
		background-color: $gray;
	}
}



.feature-image {
	position: relative;
	padding: 0;
	margin: 0;
	max-width: 100%;
	max-height: 150px;	
	overflow: hidden;
	
	&  h2 {
		position: absolute;
		color: $white;
		font-size: 24px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 700;
		margin: 0;
		top: 50%;
		transform: translateY(-50%);

		@media (min-width: $screen-sm-min) {
			font-size: 42px;
		}
	}

	& > img {
		max-width: 100%;
	}

	&--overlay {
		position: absolute;
		background-color: $color--primary;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		opacity: .9;
	}	
}

.contact {
	padding-bottom: 0;
}

.find-us {
	background: $outer-space;
	margin: 0;
	text-align: center;
	& > h2 {
		color: $white;
		margin: 0;
		padding: 40px 0;
		letter-spacing: 2px;
		font-weight: 700;
	}
}
.map {
	min-height: 500px
}
